#nav {
    background-color: #d0203d;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav img{
    position: absolute;
    right: 3%;
    width: auto;
    height: 75px;
}

#nav2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #d0203d28;
    list-style: none;
    text-align: center;
    position: sticky;
    top: 0;
}

#nav2 li {
    height: 100%;
    margin: 0;
    padding: 0;
}

#nav2 li:hover {
    background-color: #ffffff;
}

#nav2 li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    text-decoration: none;
    color: black;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}
